<div class = "container">
  <h4>手順一覧</h4>
    <table>
      <tbody>
        <% @procedures.each do |procedure| %>
          <tr>
            <td>
              <%= link_to procedures_path do %>
                <%= procedure.title %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to '新しい順', procedures_path(latest: "true") %>
      |<%= link_to '古い順', procedures_path(old: "true") %>
      </p>
</div>