<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "Category" %>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.name, category_path(category.id) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @procedures.each do |procedure| %>
        <tr>
          <td><%= link_to procedure.title, procedure_path(procedure.id) %></td>
          <td><%= procedure.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>