<div class="container">
  <h4>ブックマーク一覧</h4>
    <table>
      <tbody>
        <tr>
          <% @bookmarks.each do |bookmark| %>
            <td>
              <%= link_to procedure_path(bookmark.procedure) do %>
                <%= bookmark.procedure.title %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
</div>